html, body {
	position: relative;
	height: 100%;
	width: 100%;
}

body {
	background: url(../images/kevin-black.jpg) no-repeat center 100%;
	background-size: cover;
	background-attachment: fixed;
}

body, h1, h2, h3, h4, h5, h6, p {
	font-family: 'Reem Kufi', sans-serif;
}

main {
	background: white;
	border-radius: 0 0 5px 5px;
	padding: 0 2rem 2rem 2rem;
}

header {
	background: white;
}

#Chat form {
	margin:3px 5px;
}

#ChatBox {
	width:auto;
	height:130px;
	max-height:130px;
	overflow:auto;
}

#ChatTitle {
	text-transform: uppercase;
}

#List .list-item {
	display: block;
	margin-left: 10px;
}

#List .panel-body {
	transition: all ease-in-out 200ms;
	max-height: 1000px;
	overflow: hidden;
}

#List .panel-body:hover {
	background-color: #e3e3e3;
	cursor: pointer;
}

#List .panel-body label.first {
	margin-top: 15px;
}

#Lobby {
	padding-top: 10px;
}

#Map {
	height: 400px;
	margin-bottom: 30px;
}

#Message {
	font-size: 16px;
}

#StartUp {
	padding-top:100px;
}

#StartUp h2, #StartUp h4 {
	color: #fff;
}

#StartUp .jumbotron {
	background: transparent !important;
	box-shadow: none;
}

#sitekey {
	font-size: 1.4em;
	color: #666
}

#sitekey span {
	color: 	#ff4d00;
}

#TabContent .panel-body {
	border-bottom:1px solid lightgrey;
}

#Title .container {
	background: transparent !important;
	box-shadow: none;
}

#Title {
	padding-top:30px;
}

#Title h1, #Title #sitekey {
	color: rgba(255,255,255,.75);
}

.bg-success h3 {
	padding: 5px;
}

.glyphicon-ok {
	font-size:12px;
	color:green;
}

.hidden-sm.hidden-xs.text-center {
	border:1px solid grey;
}

.second-form label {
	color: #fff;
}

@media screen and (max-width: 576px) {
	#StartUp {
		padding-top: 30px;
	}
	.bg-success h3 {
		font-size: 16px;
	}
}
